In [38]:
import pandas as pd

In [39]:
import pymongo
DB_URL="mongodb+srv://blackhole:aloeveranda@cluster0.y5zcf.mongodb.net/"
myclient = pymongo.MongoClient(DB_URL)
mydb = myclient["filmio"]

In [40]:
filename = "../datasets/filmtv_movies - ENG.csv"
df = pd.read_csv(filename)

In [41]:
df = df.drop(columns=['critics_vote', 'public_vote', 'notes', 'humor', 'rhythm', 'effort', 'tension', 'erotism'])
df['genre'] = df.genre.apply(lambda val: str(val).lower())
df = df.fillna('')
print(df.isna().any())
df.head()

filmtv_id      False
title          False
year           False
genre          False
duration       False
country        False
directors      False
actors         False
avg_vote       False
total_votes    False
description    False
dtype: bool

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,total_votes,description
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,animation,76,United States,"David Detiege, Art Davis, Bill Perez",,7.7,21,"With two protruding front teeth, a slightly sl..."
1,3,18 anni tra una settimana,1991,drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,4,"Samantha, not yet eighteen, leaves the comfort..."
2,17,Ride a Wild Pony,1976,romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,9,"In the Australia of the pioneers, a boy and a ..."
3,18,Diner,1982,comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,18,Five boys from Baltimore have a habit of meeti...
4,20,A che servono questi quattrini?,1942,comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,14,"With a stratagem, the penniless and somewhat p..."

In [42]:
def simplify_country(val):
    if isinstance(val, str):
        countries = val.split(',')
        return countries[0].strip()
    return ""
df['country'] = df.apply(lambda x: simplify_country(x.country), axis=1)
mask = df.country.map(df.country.value_counts()) < 30
df['country'] =  df.country.mask(mask, 'Other')
df['country'].value_counts()

United States     16545
Italy              8331
France             2792
Great Britain      2356
Germany            1152
Canada              999
Japan               826
Spain               560
Other               430
Australia           285
Hong Kong           252
South Korea         237
China               196
Soviet Union        192
Sweden              186
Russia              172
Denmark             150
Brasil              143
Argentina           133
Mexico              132
Belgium             127
Poland              122
India               113
Netherlands         101
Austria              99
Norway               90
Ireland              83
Portugal             81
Switzerland          74
Hungary              71
Iran                 67
Israel               63
Thailand             53
Greece               51
Taiwan               50
Finland              50
New Zealand          46
Romania              45
Chile                43
Philippines          43
Turkey               42
Czechoslovakia       33
Iceland              33
South Africa         32
West Germany         30
Name: country, dtype: int64

In [ ]:
country_dict = map(lambda x: {'name': x, 'slug': x.replace(' ', '-').lower() }, df['country'].unique())
country_col = mydb['countries']
country_col.insert_many(country_dict)

## Replace & Seed genre

In [43]:
df.loc[df['genre'] == 'nan', 'genre'] = "drama"
df['genre'] = df['genre'].astype('string')

In [ ]:
genre_dict = map(lambda x: {'name': x, 'slug': x.replace(' ', '-')}, df['genre'].unique())
genre_col = mydb['genres']
genre_col.insert_many(genre_dict)

In [44]:
df.to_csv('preprocessed_film.csv', index=False)

In [46]:
# additional = "skinia?retryWrites=true&w=majority"
movie_col = mydb['movies']
x = movie_col.insert_many(df.to_dict('records'))

In [5]:
import pandas as pd
df = pd.read_csv('preprocessed_film.csv')
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,total_votes,description
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,21,"With two protruding front teeth, a slightly sl..."
1,3,18 anni tra una settimana,1991,drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,4,"Samantha, not yet eighteen, leaves the comfort..."
2,17,Ride a Wild Pony,1976,romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,9,"In the Australia of the pioneers, a boy and a ..."
3,18,Diner,1982,comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,18,Five boys from Baltimore have a habit of meeti...
4,20,A che servono questi quattrini?,1942,comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,14,"With a stratagem, the penniless and somewhat p..."

In [7]:
df[df['year'] > 2010].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10631 entries, 22083 to 37709
Data columns (total 11 columns):
filmtv_id      10631 non-null int64
title          10631 non-null object
year           10631 non-null int64
genre          10631 non-null object
duration       10631 non-null int64
country        10631 non-null object
directors      10623 non-null object
actors         9795 non-null object
avg_vote       10631 non-null float64
total_votes    10631 non-null int64
description    10629 non-null object
dtypes: float64(1), int64(4), object(6)
memory usage: 996.7+ KB

In [8]:
df = df[df['year'] > 2010][:5000]
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,total_votes,description
22083,39955,The Tree of Life,2011,drama,138,United States,Terrence Malick,"Brad Pitt, Sean Penn, Jessica Chastain, Tye Sh...",7.4,456,"Jack, an eleven-year-old boy, lives in the Mid..."
22967,41448,Season of the Witch,2011,adventure,95,United States,Dominic Sena,"Nicolas Cage, Claire Foy, Ron Perlman, Stephen...",4.3,141,"During the fourteenth century, when the black ..."
23419,42398,Restless,2011,drama,95,United States,Gus Van Sant,"Mia Wasikowska, Schuyler Fisk, Jane Adams, Lus...",7.0,137,Enoch is a 17-year-old who lost both parents a...
23646,42847,Qualunquemente,2011,grotesque,96,Italy,Giulio Manfredonia,"Antonio Albanese, Sergio Rubini, Lorenza Indov...",5.6,279,Cetto La Qualunque (Albanese) returns to Italy...
23647,42848,Una sconfinata giovinezza,2011,drama,98,Italy,Pupi Avati,"Fabrizio Bentivoglio, Francesca Neri, Serena G...",6.7,94,Lino Settembre and his wife Chicca lead a peac...

In [9]:
df.to_csv('sample_film(5000).csv', index=False)